body{background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;

}
.container{background-color: white;
            border: .01rem solid rgba(0, 0, 0, 0.295);
            border-radius: 3px;
            max-width: 70%;
            margin: 15vh auto;

 }
.container h1{text-transform: uppercase;
            text-align: center;

}